<article class="Video">
    <div class="Video__dateGroup">
        <div class="Video__dateGroup__inside">
            <div class="Video__summer">Summer</div>
            <h2 class="Video__date">{{date}}</h2>
        </div>
    </div>
    <div class="Video__video">
        <iframe src="{{video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="Video__summary">
        <p>{{summary}}</p>
    </div>
</article>